@page "/fetchdataUsuario"
@using VacasCool.Data
@inject TrabajadorService TrabajadorService;
@using System.Net.Http.Json;
@inject HttpClient httpClient;
@using MudBlazor;
@inject IDialogService DialogService

<PageTitle>Trabajadores</PageTitle>
<h1>Trabajadores</h1>
<MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Trabajador,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Lista de Empleados</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Edad</MudTh>
        <MudTh>Salario</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.idTrabajador</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Edad">@context.Edad</MudTd>
        <MudTd DataLabel="Salario">@context.Salario</MudTd>
        <MudTd DataLabel="Acciones"><MudIconButton @onclick="@( () => Actualizar(context) )" Disabled="@actualizarBtn" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" /></MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Elementos por Página:" InfoFormat="{first_item}-{last_item} de {all_items}" />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selección: @selectedItem1?.Permisos</MudText>
    </div>
</div>

<MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Adicionar un Trabajador
</MudButton>

@code {
    private List<Trabajador> trabajador = new List<Trabajador>();
    private Trabajador selectedItem1 = null;
    private HashSet<Trabajador> selectedItems = new HashSet<Trabajador>();
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool actualizarBtn = false;
    private bool bordered = false;
    private string searchString1 = "";

    private IEnumerable<Trabajador> Elements = new List<Trabajador>();

    protected override async Task OnInitializedAsync()
    {
        var url = "https://vacas20231113212142.azurewebsites.net/Trabajadores";
        Elements = await TrabajadorService.ObtenerElementos(url);
    }

    private bool FilterFunc1(Trabajador Trabajador) => FilterFunc(Trabajador, searchString1);

    private bool FilterFunc(Trabajador Trabajador, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (Trabajador.Nombre.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (Trabajador.Permisos.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{Trabajador.Salario} {Trabajador.Edad}".Contains(searchString))
            return true;
        return false;
    }

    private void Actualizar(Trabajador select)
    {
        if (select != null)
        {
            TrabajadorService.SetTrabajador(select);
        }
        OpenDialog();
    }

    private void OpenDialog()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<RegistroTrabajador>("Formulario Trabajador", closeOnEscapeKey);
    }
}
